{% extends 'base.html' %}

{% block content %}
  <h2><b><center>Welcome to the Online Quiz!</center></b></h2>
  <p class="lead">
    General knowledge questions and answers help a child to grow both on the personal and academic level. Kids always use to rote things and it is really important to make them learn instead of rote. And this is important to take some twist in their studies by introducing general knowledge quizzes at both the places home and school.  Even when kids watch TV or mobile phone, 
    they specifically watch either cartoons or play games that would not help in increasing their general knowledge.</p>
    Through GK questions, kids can analyze the situation better.
  <hr>
  <h4><b>About Online Quiz Application:</b></h4>
  <p>
    In this application, users can sign up as a student or a teacher. Teachers can create quizzes and students can answer quizzes
    based on their interests.
  </p></hr>
{% endblock %}
